@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
body {
	font-family: "Roboto";
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.tasks-container {
	margin: 0 auto;
	width: 1080px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.card {
	flex: 1 0 21%;
	margin-top: 2%;
	box-shadow: 4px 4px 12px -2px rgba(0, 0, 0, 0.25);
	border-radius: 5px !important;
	border: none !important;
}

.tasks-container > #false {
  margin-left: 5%;
}
